<footer class="site-footer">
    <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">
        <div class="row mb-5">
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Turlar</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Web Disayner</a></li>
                    <li><a href="#">Graphic Disayner</a></li>
                    <li><a href="#">Web Dasturchi</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Kampaniya</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Biz Haqimizda</a></li>
                    <li><a href="#">Karyera</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Resurslar</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Qo'llab-quvvatlash</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Qo'llab-quvvatlash</a></li>
                    <li><a href="#">Maxfiylik</a></li>
                    <li><a href="#">Xizmat shartlari</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Aloqa</h3>
                <div class="footer-social">
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-phone_in_talk"></span></a>
                    <a href="#"><span class="icon-instagram"></span></a>
                    <a href="#"><span class="icon-telegram"></span></a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <p class="copyright">
                    <small>
                        Muallif &copy; <a href="https://www.goblin.uz/">BatchatPro</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>